.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ant-modal {
  min-width: 520px !important;
  max-width: 50em !important;
  width: auto !important;
}
.ant-image-preview-img {
  max-width: 70% !important;
  max-height: 70% !important;
  height: auto !important;
  width: auto !important;
}

.ant-comment-content-author-name{
  width: 100%;
}